<!--
You may use this in any way, on any site, all we ask is that you please keep the link(s) crediting the author.   Though this is not mandatory, it is certainly appreciated.
 -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="static/bluebliss.css" />
</head>
<body>
<div id="mainContentArea">
	<div id="contentBox">
        <div id="title">IOU</div>
        <div id="linkGroup">

        </div>
        
        <div id="blueBox"> 
          <div id="header"></div>
          <div class="contentTitle">Login</div>
            <div class="pageContent">
              <p>Create an account and start using IOU today!</p>

              <form action="{{ url_for('trylogin') }}" method="POST" class="search-box">
              <input type="text" size="30" placeholder="User Name" name="user_name" required>
              <br>
              <br>
              <input type="text" size="20" placeholder="Email" name="email" required>
              <br>
              <br>
              <input type="password" size="20" placeholder="Password" name="password" required>
              <br>
              <br>
              <input type="submit" value="Enter">
              </form>
            </div>
        </div>
	</div>
</div>
</body>
</html>

